<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cm.xingyu.networkprogramminglearn">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:launchMode="singleTop"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity android:name=".AnimationLearn.AnimationActivity" />
        <activity android:name=".WebViewLearn.WebJsActiviry" />
        <activity android:name=".FileSaveAndRead.FileReadAndWrite">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="vnd.android.cursor.item/text_note" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.SEND_MULTIPLE" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/vnd.google.panorama360+jpg" />
                <data android:mimeType="image/*" />
                <data android:mimeType="video/*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CustomeGraphic.CustomTestActivity"
            android:alwaysRetainTaskState="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".RxJavaLean.RxJavaExcute">

        </activity>

        <service android:name=".AIDLLearn.RemoteService">
            <intent-filter>
                <action android:name="com.cm.xingyu.networkprogramminglearn.AIDLLearn.RemoteService" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <activity android:name=".CustomeGraphic.HeartAnim"></activity>
        <activity android:name=".LineChart.LineChartActivity">

        </activity>
    </application>

</manifest>